.bg-color {
  background-color: #703b09;
}

.nav-height{
  height: 7vh;
}

.white{
  color: white;
}

.logo-img {
  border: .2rem solid white;
  padding: 0;
}

.active {
  border-bottom: 2vh solid #40A4C8;
}